/* VerseQueryResults.css */
@font-face {
  font-family: 'UthmanTN';
  src: url('../../fonts/UthmanTN_v2-0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Footer-portion-VQR {
  position: absolute;
  bottom: -31.8%;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  overflow-x: hidden;
}

.details-table-VQR {
  overflow-x: hidden;
  position: relative;
  bottom: 45px;
  max-height: 653px;
  overflow: auto;
  left: 55%;
  margin-left: -50%;
  max-height: 190vh;
  width: 140%; 
}

.back-button-VQR img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 75px;
  left: 30px;
  cursor: pointer;
  transition: transform 0.3s, filter 0.3s;
}

.back-button-VQR img:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
  background-color: transparent;
}

/* Table */
.details-table-VQR table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2%;
  margin-left: -2%;
}

.details-table-VQR thead {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1; 
}

.details-table-VQR tr:hover {
  background-color: silver;
}

.details-table-VQR th
{
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
  /* font-size: 15px; */
  font-size: 14px;
  /* font-family: 'Noto Sans Arabic', sans-serif; */
  font-family: 'UthmanTN', 'Noto Sans Arabic', sans-serif;
  font-weight: bold;
  line-height: 2.5;
}

.details-table-VQR td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
  /* font-size: 15px; */
  font-size: 20px;
  /* font-family: 'Noto Sans Arabic', sans-serif; */
  font-family: 'UthmanTN', 'Noto Sans Arabic', sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

.details-table-VQR th {
  background-color: #211a70;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.details-table-VQR th {
  width: 20%; /* Set a smaller width for th */
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 14px;
  font-family: 'UthmanTN', 'Noto Sans Arabic', sans-serif;
  font-weight: bold;
  line-height: 2.5;
  background-color: #211a70;
  color: #fff;
  text-transform: uppercase;
}

.details-table-VQR td {
  width: 80%; /* Set a larger width for td */
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 20px;
  font-family: 'UthmanTN', 'Noto Sans Arabic', sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

.pagination.top-right-VQR {
  position: absolute;
  top: 350px;
  right: 75px;
}

.pagination.top-right-VQR-2 {
  position: absolute;
  top: 400px;
  right: 20px;
}

/* Prev and Next buttons */
.pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 300; /* Light font weight */
}

.pagination,
#page-jump-VQR,
#page-max-VQR {
  font-weight: 300; /* Light font weight */
}

.pagination button:hover {
  background-color: #45a049;
}

#page-jump-VQR{
  font-size: 16px;
  margin: 10px;
}

#page-max-VQR{
  font-size: 16px;
  margin: 10px;
}

/* Add CSS for the "View more" buttons */
.view-more-button {
  background-color: transparent;
  border: none;
  color: blue; /* Change color as needed */
  cursor: pointer;
  transition: color 0.3s ease; /* Add transition effect */
}

.view-more-button:hover {
  color: darkblue; /* Change color on hover */
}

/* Add animation for clickable names */
.narrator-name-VQR {
  cursor: pointer;
  color: blue; /* Change color to your preference */
  text-decoration: underline;
}

/* Increase font size and change color on hover */
.narrator-name-VQR:hover {
  color: darkblue; /* Change color to your preference */
}


/* VerseQueryResults.css */

/* New table */

/* Pagination for New Table */

.details-table-new-VQR .new-pagination {
  position: absolute;
  top: 200px; /* Adjust the top position as needed */
  right: -81%; /* Adjust the right position as needed */
}

.details-table-new-VQR .new-pagination-button {
  background-color: darkblue; /* Change to your desired background color */
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  border-radius: 4px;
}

.details-table-new-VQR .new-pagination-button:hover {
  background-color: rgb(39, 39, 205);
}

.jump-to-max-container {
  position: absolute; /* Change to relative */
  font-size: 13px;
  margin-top: 20px;
}

#page-jump-new-VQR {
  font-size: 13px;
  margin: 10px 10px 10px 50px;
}

#page-max-new-VQR {
  font-size: 13px;
  margin: 10px;
}

.details-table-new-VQR {
  position: relative;
  bottom: 15px; 
  width: 100%; 
  left: 0%; 
  margin-left: 20%; 
  max-height: 200vh;
}

.details-table-new-VQR table {
  width: 147%;
  border-collapse: collapse;
}

.details-table-new-VQR th {
  padding: 2px;
  text-align: center;
  border: 2px solid #ddd;
  font-size: 20px; 
  font-family: 'UthmanTN', 'Noto Sans Arabic', sans-serif;
  font-weight: bold;
  line-height: 2.5;
  word-spacing: 1.5px;
  width: 350px; /* Adjust the width as needed */
}

.details-table-new-VQR th {
  background-color: #211a70;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.details-table-new-VQR th{
  padding: 2px;
  text-align: center;
  border: 2px solid #ddd;
  font-size: 14px; 
  font-family: 'UthmanTN', 'Noto Sans Arabic', sans-serif;
  font-weight: bold;
  line-height: 1.5;
  word-spacing: 2.5px;
  /* Add width property to limit the width of the column */
  width: 210px; /* Adjust the width as needed */
}

.details-table-new-VQR td {
  padding: 2px;
  text-align: center;
  border: 2px solid #ddd;
  font-size: 20px; 
  /* font-family: 'Noto Sans Arabic', sans-serif; */
  font-family: 'UthmanTN', 'Noto Sans Arabic', sans-serif;
  font-weight: bold;
  line-height: 1.5;
  /* word-spacing: 0.5px; */
  word-spacing: 1.5px;
}

/* Style for the "More Info" button */
.more-info-button {
  background-color: #035722;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Add transition for hover effect */
}

.more-info-button:hover {
  background-color: #45a049; /* Darker background color on hover */
  transform: scale(1.05); /* Add scale transform on hover */
}



/* Responsiveness CSS */

@media (max-width: 1600px) 
{
  
  .details-table-VQR {
    overflow-x: hidden;
    position: relative;
    bottom: 45px;
    max-height: 653px;
    overflow: auto;
    left: 55%;
    margin-right: -10%;
    max-height: 190vh;
    width: 150%; 
  }

.pagination.top-right-VQR {
  position: absolute;
  top: 350px;
  right: 2%;
  font-size: 16px;
}

.pagination.top-right-VQR-2 {
  position: absolute;
  top: 400px;
  right: 1%;
}

/* Prev and Next buttons */
.pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #45a049;
}

#page-jump-VQR{
  margin: 10px;
  font-size: 16px;

}

#page-max-VQR{
  font-size: 16px;
  margin: 10px;
}
}

@media (max-width: 1440px) 
{
  
  .details-table-VQR {
    overflow-x: hidden;
    position: relative;
    bottom: 45px;
    max-height: 653px;
    overflow: auto;
    left: 55%;
    margin-left: -70%;
    max-height: 190vh;
    width: 130%; 
  }

.pagination.top-right-VQR {
  position: absolute;
  top: 350px;
  right: 2%;
  font-size: 16px;
}

.pagination.top-right-VQR-2 {
  position: absolute;
  top: 400px;
  right: 1%;
}

/* Prev and Next buttons */
.pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #45a049;
}

#page-jump-VQR{
  margin: 10px;
  font-size: 16px;

}

#page-max-VQR{
  font-size: 16px;
  margin: 10px;
}
}

@media (max-width: 1400px) 
{
  
  .details-table-VQR {
    overflow-x: hidden;
    position: relative;
    bottom: 45px;
    max-height: 653px;
    overflow: auto;
    left: 55%;
    max-height: 190vh;
    width: 130%; 
  }

  .details-table-VQR table {
    width: 94%;
    border-collapse: collapse;
    margin: 4%;
    margin-top: 1%;
  }
  
.pagination.top-right-VQR {
  position: absolute;
  top: 350px;
  right: 2%;
  font-size: 16px;
}

.pagination.top-right-VQR-2 {
  position: absolute;
  top: 400px;
  right: 1%;
}

/* Prev and Next buttons */
.pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #45a049;
}

#page-jump-VQR{
  margin: 10px;
  font-size: 16px;

}

#page-max-VQR{
  font-size: 16px;
  margin: 10px;
}
}

@media (max-width: 1366px) 
{
  
  .details-table-VQR {
    overflow-x: hidden;
    position: relative;
    bottom: 25px;
    max-height: 653px;
    overflow: auto;
    left: 50%;
    max-height: 190vh;
    width: 130%; 
  }

  .details-table-VQR table {
    width: 94%;
    border-collapse: collapse;
    margin: 2%;
    margin-top: 1%;
  }
  
.pagination.top-right-VQR {
  position: absolute;
  top: 350px;
  right: 2%;
  font-size: 16px;
}

.pagination.top-right-VQR-2 {
  position: absolute;
  top: 400px;
  right: 1%;
}

/* Prev and Next buttons */
.pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #45a049;
}

#page-jump-VQR{
  margin: 10px;
  font-size: 16px;

}

#page-max-VQR{
  font-size: 16px;
  margin: 10px;
}
}

@media (max-width: 1360px) 
{
  
  .details-table-VQR {
    overflow-x: hidden;
    position: relative;
    bottom: 25px;
    max-height: 653px;
    overflow: auto;
    left: 50%;
    max-height: 190vh;
    width: 130%; 
  }

  .details-table-VQR table {
    width: 96%;
    border-collapse: collapse;
    margin: 2%;
    margin-top: 1%;
  }
  
.pagination.top-right-VQR {
  position: absolute;
  top: 350px;
  right: 2%;
  font-size: 16px;
}

.pagination.top-right-VQR-2 {
  position: absolute;
  top: 400px;
  right: 1%;
}

/* Prev and Next buttons */
.pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #45a049;
}

#page-jump-VQR{
  margin: 10px;
  font-size: 16px;

}

#page-max-VQR{
  font-size: 16px;
  margin: 10px;
}
}

@media (max-width: 1280px) 
{
  
  .details-table-VQR {
    overflow-x: hidden;
    position: relative;
    bottom: 25px;
    max-height: 653px;
    overflow: auto;
    left: 28%;
    max-height: 190vh;
    max-width: 92%; 
    margin-left: -85%;
  }

  .details-table-VQR table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2%;
    margin-left: 0%;
  }
  
.pagination.top-right-VQR {
  position: absolute;
  top: 350px;
  right: 2%;
  font-size: 16px;
}

.pagination.top-right-VQR-2 {
  position: absolute;
  top: 400px;
  right: 1%;
}

/* Prev and Next buttons */
.pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #45a049;
}

#page-jump-VQR{
  margin: 10px;
  font-size: 16px;

}

#page-max-VQR{
  font-size: 16px;
  margin: 10px;
}
}

@media (min-width: 1280px) and (max-width: 1280px) and (max-height: 1023px)
{
  
  .details-table-VQR {
    overflow-x: hidden;
    position: relative;
    bottom: 25px;
    max-height: 653px;
    overflow: auto;
    left: 28%;
    max-height: 190vh;
    max-width: 120%; 
    margin-left: -35%;
  }

  .details-table-VQR table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2%;
    margin-left: 0%;
  }
  
.pagination.top-right-VQR {
  position: absolute;
  top: 350px;
  right: 2%;
  font-size: 16px;
}

.pagination.top-right-VQR-2 {
  position: absolute;
  top: 400px;
  right: 1%;
}

/* Prev and Next buttons */
.pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #45a049;
}

#page-jump-VQR{
  margin: 10px;
  font-size: 16px;

}

#page-max-VQR{
  font-size: 16px;
  margin: 10px;
}
}

@media (max-width: 1152px) 
{
  
  .details-table-VQR {
    overflow-x: hidden;
    position: relative;
    bottom: 15px;
    max-height: 653px;
    overflow: auto;
    left: 35%;
    max-height: 190vh;
    width: 100%; 
  }

  .details-table-VQR table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5%;
    margin-left: 0%;
  }
  
.pagination.top-right-VQR {
  position: absolute;
  top: 350px;
  right: 2%;
  font-size: 16px;
}

.pagination.top-right-VQR-2 {
  position: absolute;
  top: 400px;
  right: 1%;
}

/* Prev and Next buttons */
.pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #45a049;
}

#page-jump-VQR{
  margin: 10px;
  font-size: 16px;

}

#page-max-VQR{
  font-size: 16px;
  margin: 10px;
}
}

@media (max-width: 767px) 
{


  .details-table-VQR {
    overflow-x: hidden;
    position: relative;
    bottom: 45px;
    max-height: 653px;
    overflow: auto;
    left: 0%;
    margin-right: 0%;
    max-height: 190vh;
    width: 55%; 
  }

  .details-table-VQR table {
    width: 80%;
    border-collapse: collapse;
    margin-left: 10%;
    margin-top: 50%;
  }

.pagination.top-right {
  position: absolute;
  top: 23%;
  right: 20%;
  font-size: 16px;
}

.pagination.top-right-2 {
  position: absolute;
  top: 17%;
  right: 15%;
}

/* Prev and Next buttons */
.pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #45a049;
}

#page-jump-VQR{
  margin: 10px;
  font-size: 16px;

}

#page-max-VQR{
  font-size: 16px;
  margin: 10px;
}
}