/* VerseQueryResults.css */

.Footer-portion-VQR {
  position: absolute;
  bottom: -31.8%;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  overflow-x: hidden;
}

.details-table-VQR {
  overflow-x: hidden;
  position: relative;
  bottom: 45px;
  max-height: 653px;
  overflow: auto;
  left: 55%;
  margin-left: -50%;
  max-height: 110vh;
  width: 140%; 
}

.back-button-VQR img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 60px;
  left: 30px;
  cursor: pointer;
  transition: transform 0.3s, filter 0.3s;
}

.back-button-VQR img:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
  background-color: transparent;
}

/* Table */
.details-table-VQR table {
  width: 100%;
  border-collapse: collapse;
}

.details-table-VQR thead {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1; 
}

.details-table-VQR tr:hover {
  background-color: silver;
}

.details-table-VQR th,
.details-table-VQR td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 15px; /* Adjust the font size as needed */
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: bold;
  line-height: 2.5;
}

.details-table-VQR th {
  background-color: #211a70;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.pagination.top-right {
  position: absolute;
  top: 350px;
  right: 75px;
}

.pagination.top-right-2 {
  position: absolute;
  top: 400px;
  right: 20px;
}

/* Prev and Next buttons */
.pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #45a049;
}

#page-jump-VQR{
  font-size: 16px;
  margin: 10px;
}

#page-max-VQR{
  font-size: 16px;
  margin: 10px;
}

/* Add CSS for the "View more" buttons */
.view-more-button {
  background-color: transparent;
  border: none;
  color: blue; /* Change color as needed */
  cursor: pointer;
  transition: color 0.3s ease; /* Add transition effect */
}

.view-more-button:hover {
  color: darkblue; /* Change color on hover */
}
