body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0A1828;
  }
  
  .brand {
    font-size: 1.5em;
    color: #BFA181;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
  }
  
  .links {
    display: flex;
  }
  
  .nav-link {
    margin: 0 10px;
    padding: 8px 20px;
    border-radius: 50px;
    color: #BFA181;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
  }
  
  .nav-link:hover {
    background-color: #BFA181;
    color: #0A1828;
  }
  