/* Footer.css */

.footer {
    bottom: 0px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
    padding: 4px;
    background-color: #da91911c; /* Optional: Adding a background color */
    width: 100%; /* Adding this to make the footer fill the entire horizontal space */
  }
    
  
  .left-images {
    display: flex;
  }
  
  .footer-image {
    width: 100%; /* Adjusting the size as needed */
    height: 50px;
    margin-right: 60%; /* Adding some space between the images */
  }
  