.hadith-query-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.query-text-box {
  text-align: center;
  margin-top: 5%;
  width: 800px;
  height: 150px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #EE9AE5;
  box-shadow: 0px 4px 15px 0px rgba(238, 154, 229, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 1.5%;
  font-size: 18px;
  position: relative; /* Added position relative */
  font-family: 'Jost', sans-serif; /* Added font-family */
  font-weight: bold;
}

.query-text-box.expanded {
  height: 250px; /* Adjust the height when expanded */
}

.details-swipe-bar {
  cursor: pointer;
  position: absolute;
  bottom: -20.5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4639E3;
  height: 50px;
  width: 848px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-swipe-bar:hover {
  background-color: #381f6c; /* Change color on hover */
}

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent #EE9AE5 transparent;
  stroke: #000000;
  stroke-width: 2px;
  transition: transform 0.3s ease; /* Add transition for smooth animation */
}

.expanded .arrow {
  transform: rotate(180deg); /* Rotate arrow when expanded */
}

.arrow.expanded {
  transform: rotate(180deg);
}

.details-swipe-bar {
  /* ... your existing styles ... */
  transition: width 0.3s ease; /* Added transition for smooth animation */
}

.details-swipe-bar:hover {
  width: 900px; /* Increase width on hover */
}


.details-table {
  margin-top: 60px;
}

table {
  border-collapse: collapse;
  width: 250%;
  border-radius: 20px; /* Added border-radius */
  border: 2px solid #000; /* Added border */
  margin-left: -75.5%;

}

th, td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: center;
  font-family: 'Jost', sans-serif; /* Added font-family */
}

th {
  background-color: #b4b0b0;
  font-weight: bold; /* Added font-weight */
}

tbody tr:nth-child(even) {
  background-color: #efcbcb;
}

tbody tr:nth-child(odd) {
  background-color: #efcbcb;
}

tbody tr:hover {
  background-color: #EE9AE5;
}

.expand-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.expand-icon img {
  width: 20px; /* Adjust icon size as needed */
}

.back-button-HQR img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 60px;
  left: 30px;
  cursor: pointer;
  transition: transform 0.3s, filter 0.3s; /* Adding transition effects */
}

.back-button-HQR img:hover {
  transform: scale(1.2); /* Scaling up on hover */
  filter: brightness(1.2); /* Increasing brightness on hover */
  background-color: transparent; /* Removing white background */
}

.wide-column {
  height: 80px;
}
