/* HadithQueryResults.css */

.Footer-portion-HQR {
  position: absolute;
  bottom: -31.8%;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  overflow-x: hidden;
}

.details-table-HQR {
  position: relative;
  bottom: -15px; 
  max-height: 800px; 
  overflow: auto; 
  width: 81.4%; 
  left: 5%; 
  margin-left: 0; 
  max-height: 110vh;
}

.expand-icon img {
  width: 20px;
}

.expand-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.back-button-HQR img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 75px;
  left: 30px;
  cursor: pointer;
  transition: transform 0.3s, filter 0.3s;
}

.back-button-HQR img:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
  background-color: transparent;
}

/* Table */
.details-table-HQR table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #ddd;

}

.details-table-HQR th,
.details-table-HQR td {
  padding: 2px;
  text-align: center;
  border: 2px solid #ddd;
  font-size: 15px; 
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: bold;
  line-height: 2.5;
  word-spacing: 0.5px;
}

.details-table-HQR th {
  background-color: #211a70;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.pagination.top-right-HQR {
  position: absolute;
  top: 350px;
  right: 2px;
}

.pagination.top-right-HQR-2 {
  position: absolute;
  top: 400px;
  right: 2px;
}

/* Prev and Next buttons */
.pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #45a049;
}

#page-jump-HQR{
  font-size: 16px;
  margin: 3px;
}

#page-max-HQR{
  font-size: 16px;
  /*margin: 0px;*/
}




.hadith-number-button {
  background-color: #2e249e;
  color: #fff;
  margin-top: 5px;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: 'Lexend Deca', 'Jost', sans-serif;
  transition: background-color 0.3s, transform 0.3s; /* Add transition for background-color and transform */
  
  /* Center the button horizontally */
  display: block;
  margin: 0 auto;
}


.hadith-number-button:hover {
  background-color: #3529de; /* Change the color on hover */
  transform: scale(1.05); /* Add scale transform on hover */
}

.clickable-text {
  cursor: pointer;
  text-decoration: underline;
  color: blue; /* Change color on hover */
  transition: font-size 0.2s ease; /* Add transition for font size change */
}

.clickable-text:hover {
  font-size: 1.2em; /* Enlarge font size on hover */
}

/* Add animation for clickable names */
.narrator-name {
  cursor: pointer;
  color: blue; /* Change color to your preference */
  text-decoration: underline;
}

/* Increase font size and change color on hover */
.narrator-name:hover {
  color: darkblue; /* Change color to your preference */
}

/* HadithQueryResults.css */

.root-narrator-name {
  color: blue; /* Change color as desired */
  cursor: pointer; /* Change cursor style as desired */
  text-decoration: underline;
}

/* Increase font size and change color on hover */
.root-narrator-name:hover {
  color: darkblue; /* Change color to your preference */
}
/* Responsive CSS */

@media (max-width: 1366px) 
{
  
  .details-table-HQR table {
    width: 95%;
    border-collapse: collapse;
    border: 2px solid #ddd;
  
  }

.pagination.top-right-HQR {
  position: absolute;
  top: 350px;
  right: 2%;
  font-size: 16px;
}

.pagination.top-right-HQR-2 {
  position: absolute;
  top: 400px;
  right: 1%;
}

/* Prev and Next buttons */
.pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #45a049;
}

#page-jump-HQR{
  margin: 3px;
  font-size: 16px;

}

#page-max-HQR{
  font-size: 16px;
  margin: 3px;
}
}

@media (max-width: 1280px) 
{
  
  .details-table-HQR table {
    width: 95%;
    border-collapse: collapse;
    border: 2px solid #ddd;
  
  }

.pagination.top-right-HQR {
  position: absolute;
  top: 350px;
  right: 2%;
  font-size: 16px;
}

.pagination.top-right-HQR-2 {
  position: absolute;
  top: 400px;
  right: 1%;
}

/* Prev and Next buttons */
.pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #45a049;
}

#page-jump-HQR{
  margin: 3px;
  font-size: 16px;

}

#page-max-HQR{
  font-size: 16px;
  margin: 3px;
}
}

@media (max-width: 767px) 
{
  .details-table-HQR {
    position: relative;
    bottom: -15px; 
    max-height: 800px; 
    overflow: auto; 
    width: 95%; 
    left: 5%; 
    margin-left: 0; 
    max-height: 110vh;
    z-index: 2;
  }

  .details-table-HQR table {
    width: 95%;
    border-collapse: collapse;
    border: 2px solid #ddd;
    margin-top: 40%;
  
  }

.pagination.top-right-HQR {
  position: absolute;
  top: 15%;
  right: 20%;
  font-size: 16px;
}

.pagination.top-right-HQR-2 {
  position: absolute;
  top: 25%;
  right: 20%;
}

/* Prev and Next buttons */
.pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #45a049;
}

#page-jump-HQR{
  margin: 3px;
  font-size: 16px;

}

#page-max-HQR{
  font-size: 16px;
  margin: 3px;
}
}